@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.Nav-buttons {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-price-symbol {
  margin-top: 4px;
  color: cornflowerblue;
}

.a-price-whole {
  font-size: x-large;
  color: cornflowerblue;
}

p.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
